* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

:root {
    --divider: #002c15;
    --bg: #002c15;
    --btn: #c3f53c;
    --text-primary: #002c15;
    --text-secondary: #fff;
}

.wrapper {
    width: 100%;
    min-height: 100vh;
    background: var(--bg);
    overflow: hidden;
}

.container {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 32px;
}

/* ================= NAVBAR ================= */
.navbar {
    height: 82px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-left {
    display: flex;
    align-items: center;
    gap: 64px;
}

.logo img {
    width: 136px;
    height: 28px;
}

.nav-links {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 40px;

}

.nav-links>li {
    position: relative;
}

.nav-links>li>a {
    display: inline-flex;
    align-items: center;
    gap: 6px;
    color: white;
    text-decoration: none;
    font-size: 15px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.25px;
}

.fa-angle-down {
    color: white;
}

.menu-btn {
    display: none;
}

.close-icon {
    display: none;
}


.nav-links li.dropdown:hover .dropdown-menu {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.dropdown-menu {
    position: absolute;
    top: calc(100% + 10px);
    left: 0;
    min-width: 140px;
    background: #fff;
    border-radius: 12px;
    padding: 12px;
    list-style: none;
    opacity: 0;
    visibility: hidden;
    transform: translateY(10px);
    transition: 0.25s ease;
    z-index: 50;
}

.dropdown-menu li a {
    display: block;
    text-decoration: none;
    color: var(--text-primary);
    font-size: 15px;
    font-weight: 500;
    padding: 12px 12px;
    border-radius: 10px;
}

.dropdown-menu li a:hover {
    background: var(--bg);
    color: white;
}

.nav-actions {
    display: flex;
    align-items: center;
    gap: 12px;
}

.btn {
    padding: 10px 18px;
    border-radius: 40px;
    font-size: 15px;
    font-weight: 600;
    text-decoration: none;
    transition: 0.2s ease;
}

.btn-outline {
    color: var(--btn);
    border: 1px solid var(--btn);
    background: transparent;
}

.btn-outline:hover {
    background-color: var(--btn);
    color: var(--text-primary);
}

.btn-solid {
    background: var(--btn);
    border: 1px solid var(--btn);
    color: var(--bg);
    border: 1px solid var(--btn);
}

.btn-solid:hover {
    background-color: transparent;
    color: var(--btn);
}

/* ================= HERO ================= */
.hero {
    padding: 96px 0 128px;
}

.hero-wrap {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 32px;
}

.hero-left {
    flex: 1;
    max-width: 672px;
}

.badge-link {
    display: inline-block;
    margin-bottom: 24px;
}

.badge-icon {
    display: flex;
    align-items: center;
    gap: 16px;
}

.badge-icon p {
    position: relative;
    color: var(--btn);
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: -0.25px;
    margin: 0;
    display: inline-block;
}

.badge-icon p::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 2px;
    width: 100%;
    height: 3px;
    background: #00C805;
}

.hero-title {
    color: var(--White, #FFF);
    font-size: 72px;
    font-style: normal;
    font-weight: 500;
    line-height: 80px;
    letter-spacing: -2.5px;
    margin-bottom: 24px;
}

.hero-desc {
    max-width: 512px;
    color: var(--text-secondary);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: -0.5px;
}

.hero-desc strong {
    font-weight: 700;
}

.hero-cta {
    display: flex;
    align-items: center;
    gap: 16px;
    flex-wrap: wrap;
    margin-top: 40px;



}

.rating-pill,
.secure-pill {
    min-height: 52px;
    padding: 12px 20px;
    border: 1px solid white;
    border-radius: 52px;
    display: inline-flex;
    align-items: center;
    gap: 12px;
    color: #FFF;
    background: rgba(255, 255, 255, 0.10);
}

.rating-stars,
.fa-star-half-stroke {
    display: flex;
    gap: 2px;
    color: var(--btn);
    font-size: 20px;
    line-height: 1;
    letter-spacing: -1px;
    position: relative;
    top: -1px;
}

.rating-number {
    color: #FFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: -0.25px;
}

.secure-pill span {
    color: white;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: -0.25px;
}

.shield {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background: var(--lime);
    display: flex;
    align-items: center;
    justify-content: center;
}

/* ================= RIGHT CARD ================= */
.hero-right {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.card-stack {
    position: relative;
    width: 100%;
    max-width: 512px;
    padding-bottom: 28px;
}

.card-shadow-block {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 90px;
    background: var(--Lime-Green-Gradient, linear-gradient(112deg, #A8D246 0%, #96D141 34.66%, #37B733 100%));
    border-radius: 0 0 32px 32px;
}

.transfer-card {
    position: relative;
    z-index: 2;
    background: white;
    border-radius: 32px;
    padding: 32px 32px 52px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
}

.amount-box {
    position: relative;
    border: 1px solid #C9CBCE;
    border-radius: 12px;
    padding: 16px 20px;
    background: white;
}

.amount-label {
    color: #454745;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: -0.25px;

}

.amount-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
}

.amount-value {
    color: var(--text-primary);
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: -1px;
}

.currency {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    color: var(--text-primary);
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: -0.5px;
}

.flag-us {
    width: 24px;
    height: 24px;
}

.flag-eu {
    width: 24px;
    height: 24px;
}

.swap-btn {
    position: absolute;
    left: 50%;
    top: 105px;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border: 2px solid #C9CBCE;
    background: white;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 5;
}

.transfer-top {
    height: 56px;
    background: var(--bg);
    color: #FFF;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: -0.25px;
    padding-top: 12px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 24px;
    display: flex;
    align-items: center;
    gap: 8px;
    border-radius: 12px 12px 0 0;
}

.bolt img {
    width: 100%;
    display: flex;
    align-items: center;
}

.transfer-body {
    background: #FFF;
    border: 1px solid #C9CBCE;
    border-top: 0;
    border-radius: 0 0 12px 12px;
    padding: 16px 20px;
    display: flex;
    align-items: center;
    gap: 12px;
}

.bank-icon {
    width: 42px;
    height: 42px;
}

.bank-text h4 {
    color: var(--text-primary);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.25px;
}

.bank-text p {
    color: #454745;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: -0.25px;
}

.details {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.detail-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.detail-row .label {
    color: #454745;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: -0.25px;
}

.detail-row .value {
    color: var(--text-primary);
    text-align: right;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: -0.25px;
}

.detail-row .value strong {
    font-weight: 600;
}

.detail-row .value s {
    text-decoration-thickness: 1.5px;
    color: var(--text-primary);
}

/* ============= COMPARE PRICEING SECTION ============= */
#pricing {
    background-color: #F2F5F7;
    padding: 128px 0;
}

.priceing-wrapper {
    max-width: 1280px;
    margin: 0 auto;
    padding: 32px 32px;
}

.priceing-header {
    text-align: center;
}

.priceing-header h1 {
    color: var(--text-primary);
    text-align: center;
    font-size: 58px;
    font-style: normal;
    font-weight: 500;
    line-height: 64px;
    letter-spacing: -2px;
    margin-bottom: 24px;
}

.priceing-header p {
    color: #454745;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: -0.5px;
}

/* ============= Priceing Card ============= */
.pricing-card {
    background: #FFF;
    border-radius: 40px;
    padding: 32px 32px;
    margin-top: 64px;
}

.pricing-head,
.pricing-row {
    display: grid;
    grid-template-columns: 2.4fr 1.8fr 0.10fr 1.4fr;
    align-items: center;
    column-gap: 200px;
}

.pricing-head {
    padding: 20px 20px;
}

.pricing-head span {
    color: #454745;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.25px;
}

.pricing-head span:nth-child(2),
.pricing-head span:nth-child(3),
.pricing-head span:nth-child(4) {
    text-align: center;
}

.rows {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.pricing-row {
    padding: 16px 24px;
    border-radius: 12px;
}

.pricing-row.featured {
    background: var(--bg);
}

.provider {
    display: flex;
    align-items: center;
    gap: 12px;
}

.provider-logo {
    width: 40px;
    height: 40px;
}

.provider-name {
    color: var(--text-primary);
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: -0.25px;
}

.featured .provider-name {
    color: #fff;
}

.value-box {
    text-align: center;
}

.value-main {
    color: var(--text-primary);
    text-align: right;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: -0.25px;
}

.featured .value-main {
    color: #ffffff;
}

.value-sub {
    color: var(--Scarlett-600, #E4187D);
    text-align: right;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.25px;
}

.featured .value-sub {
    color: var(--Lime-300, #C3F53C);
    text-align: right;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.25px;
}

.fee {
    color: var(--text-primary);
    text-align: left;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.25px;
}

.featured .fee {
    color: #ffffff;
}

.rate {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    color: var(--Green-900, #002C15);
    text-align: right;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.25px;
}

.featured .rate {
    color: #ffffff;
}

.disclaimer {
    text-align: center;
    margin-top: 64px;
    color: var(--Green-900, #002C15);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.25px;
}

.disclaimer strong {
    color: var(--text-primary);
    font-weight: 700;
}

/* ============= Review Trancefer Section ============= */
#review-transfer {
    background: var(--bg);
    padding-top: 128px;
    padding-bottom: 64px;
}

.review-wrapper {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 32px;
    display: flex;
    align-items: start;
    justify-content: space-between;
    gap: 96px;
}

.what-see-content {
    flex: 1;
    max-width: 480px;
}

.what-see-content h1 {
    color: #fff;
    font-size: 58px;
    font-style: normal;
    font-weight: 500;
    line-height: 64px;
    letter-spacing: -2px;
}

.what-see-content span {
    color: var(--btn);
    font-size: 58px;
    font-style: normal;
    font-weight: 500;
    line-height: 64px;
    letter-spacing: -2px;
}

.send-fees {
    color: var(--White, #FFF);
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: -0.5px;
    margin-top: 32px;
}

.send-fees-para {
    color: #FFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: -0.25px;
    margin-top: 8px;
    margin-bottom: 24px;
}

.payment-method {
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: -0.5px;
}

.payment-method-para {
    max-width: 470px;
    color: #FFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: -0.25px;
    margin-top: 8px;
}

.review-cta-one {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 32px;
    padding-right: 24px;
    text-decoration: none;
    background-color: var(--btn);
    color: var(--text-primary);
    border: 1px solid var(--btn);
    border-radius: 64px;
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: -0.25px;
    margin-top: 40px;
}

.review-cta-one:hover {
    background-color: transparent;
    color: var(--btn);
    transition: 0.3s;
    transform: translateY(-2px);
}

/* ============= Review ============= */
.review-transfer-container {
    flex: 1;
    max-width: 420px;
    background-color: #F2F5F7;
    padding: 24px 20px 20px;
    border-radius: 32px;
    /* margin-right: 68px; */
}

.review-heading {
    color: #002f1f;
    text-align: center;
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: -1px;
    margin-bottom: 24px;
}

.transfer-card {
    background-color: #FFF;
    padding: 32px;
    border-radius: 24px;
}

.transfer-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
    margin-bottom: 16px;
}

.transfer-row p,
.transfer-row h4 {
    margin: 0;
}

.transfer-row p {
    display: flex;
    align-items: center;
    gap: 4px;
    color: #6A6C6A;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.25px;
}

.transfer-row h4 {
    color: var(--text-primary);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.25px;
}

.rate-value {
    display: flex;
    align-items: center;
    gap: 4px;
}

.total-row {
    margin-bottom: 32px;
}

.total-row h5 {
    color: var(--text-primary);
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.25px;
}

.confirm-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text-primary);
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    text-decoration: none;
    letter-spacing: -0.25px;
    padding: 12px 26px;
    background-color: var(--btn);
    border-radius: 48px;
    border: 1px solid var(--btn);
    transition: 0.3s ease;
}

.confirm-btn:hover {
    background-color: var(--bg);
    border: 1px solid var(--bg);
    color: #fff;
    transform: translateY(-2px);
}

/* ============= Get Real Time ============= */

#real-time {
    background-color: var(--bg);
    padding: 64px 0 128px;
}

.real-time-wrapper {
    max-width: 1280px;
    padding: 0 32px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: start;
    gap: 96px;
}

.usd-card {
    flex: 1;
    max-width: 420px;
    background-color: #F2F5F7;
    padding: 20px 20px;
    border-radius: 32px;
    position: relative;
}

.notification-image {
    width: 250px;

    position: absolute;
    top: -90px;
    right: -150px;
}

.green-container {
    max-width: 372px;
    height: 35vh;
    margin: 0 auto;
    background-color: var(--bg);
    border-radius: 24px;
    padding: 32px 0;
    text-align: center;
}

.base-img {
    margin-bottom: 24px;
}

.green-heading {
    color: #FFF;
    text-align: center;
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: 44px;
    letter-spacing: -1.5px;
    margin-bottom: 8px;
}

.green-para {
    color: #FFF;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: -0.25px;
}

.green-span {
    color: var(--btn);
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: -0.25px;
}

.white-container {
    width: 100%;
    max-width: 372px;
    background-color: #fff;
    margin: 0 auto;
    padding: 32px;
    border-radius: 24px;
    margin-top: -50px;

}

.status-row {
    display: grid;
    grid-template-columns: 40px 5px 1fr;
    column-gap: 12px;
    align-items: center;
}

.status-row+.status-row {
    margin-top: 16px;
}

.status-date p {
    color: var(--Gray-500, #6A6C6A);
    text-align: center;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.25px;
}

.status-date p+p {
    margin-top: 2px;
}

.status-line {
    width: 4px;
    height: 60px;
    border-radius: 2px;
    margin-top: 2px;
}

.status-line.active {
    background: var(--bg);
}

.status-line.inactive {
    background: #C9CBCE;
}

.status-title {
    color: var(--Gray-500, #6A6C6A);
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.25px;
}

.status-title.muted {
    color: #6f6f6f;
}

.status-title.active-text {
    color: var(--text-primary);
    font-weight: 500;
}

.status-subtitle {
    color: var(--Gray-500, #6A6C6A);
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.25px;
}

.share-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 26px;
    margin: 32px auto 0;
    background: var(--btn);
    border-radius: 50px;
    border: 1px solid var(--btn);
    text-decoration: none;
    color: var(--Green-900, #002C15);
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: -0.25px;
    transition: 0.3s ease;
}

.share-btn:hover {
    transform: translateY(-2px);
    background-color: var(--bg);
    border: 1px solid var(--bg);
    color: #FFF;
}

/* ============= Real Time Content ============= */
.real-time-content {
    max-width: 470px;
    flex: 1;
}

.real-time-heading {
    color: #fff;
    font-size: 58px;
    font-style: normal;
    font-weight: 500;
    line-height: 64px;
    letter-spacing: -2px;
}

.real-time-heading span {
    color: var(--btn);
    font-size: 58px;
    font-style: normal;
    font-weight: 500;
    line-height: 64px;
    letter-spacing: -2px;
}

.real-time-para {
    color: #fff;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: -0.25px;
    margin: 32px 0;
}

.real-time-ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.real-time-ul li {
    display: flex;
    align-items: center;
    gap: 12px;
}

.real-time-ul li+li {
    margin-top: 20px;
}

.real-time-ul li img {
    width: 28px;
    height: 28px;
    display: block;
    flex-shrink: 0;
}

.real-time-ul li span {
    color: #FFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: -0.25px;
}

.real-time-cta {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 32px;
    padding-right: 24px;
    text-decoration: none;
    background-color: var(--btn);
    color: var(--text-primary);
    border: 1px solid var(--btn);
    border-radius: 64px;
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: -0.25px;
    margin-top: 40px;
}

.real-time-cta:hover {
    background-color: transparent;
    color: var(--btn);
    transition: 0.3s;
    transform: translateY(-2px);
}

/* ============= Send Money ============= */
#send-money {
    padding: 128px 0;
    background-color: #fff;
}

.send-money-wrapper {
    max-width: 1280px;
    padding: 0 32px;
    margin: 0 auto;
}

.send-money-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.send-money-para {
    text-align: center;
    color: var(--text-primary);
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: -0.25px;
    display: inline-block;
    position: relative;
}

.send-money-para::after {
    content: "";
    position: absolute;
    height: 2px;
    left: 0;
    width: 100%;
    bottom: 7px;
    background-color: var(--btn);
}

.send-money-heading {
    max-width: 800px;
    color: var(--text-primary);
    text-align: center;
    font-size: 58px;
    font-style: normal;
    font-weight: 500;
    line-height: 64px;
    letter-spacing: -2px;
    margin-top: 24px;
}

.card-container {
    display: flex;
    justify-content: space-around;
    gap: 32px;
    margin: 64px 0 32px;

}

.cards {
    max-width: 390px;
    background-color: var(--bg);
    border-radius: 32px;
    padding: 48px 32px 64px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 32px;
    flex: 1;
}

.cards h4 {
    color: var(--btn);
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: -1px;
}

.cards p {
    color: #fff;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: -0.25px;
    margin-top: 12px;
}

/* ============= Zero Fee ============= */
.zero-card {
    max-width: 1280px;
    padding: 48px 64px;
    background: #002c15;
    border-radius: 32px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
    overflow: hidden;
}

/* Left side */
.zero-left {
    max-width: 528px;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.zero-tag {
    color: var(--btn);
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: -0.25px;
    display: block;
    position: relative;
}

.zero-tag::after {
    content: "";
    position: absolute;
    width: 87px;
    left: 0;
    height: 3px;
    bottom: 4px;
    background-color: #00c805;
}

.zero-title {
    font-size: 58px;
    color: #fff;
    font-weight: 500;
    line-height: 64px;
    letter-spacing: -2px;
    padding-top: 24px;
}

.zero-title span {
    color: var(--btn);
}

.zero-subtitle {
    color: var(--White, #fff);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: -0.25px;
    padding-top: 16px;
    max-width: 528px;
}

.zero-terms {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    color: var(--White, #fff);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.25px;
    text-decoration-line: underline;
    padding-top: 40px;
}

.zero-info {
    width: 18px;
    height: 18px;
    border-radius: 999px;
    border: 2px solid white;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
}

/* Button */
.zero-cta {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    max-width: 220px;
    gap: 8px;
    margin-top: 24px;
    gap: 10px;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 32px;
    padding-right: 24px;
    background-color: var(--btn);
    border: 1px solid var(--btn);
    border-radius: 64px;
    text-decoration: none;
    color: var(--bg);
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: -0.25px;
    margin-top: 40px;
    transition: 0.3s;
}

.zero-cta:hover {
    background-color: transparent;
    border: 1px solid var(--btn);
    color: var(--btn);
    transform: translateY(-2px);
}

.zero-right {
    width: 528px;
    display: flex;
    justify-content: end;
    align-items: end;
}

.zero-right img {
    width: 100%;
    height: auto;
}

/* ============= Best Ways ============= */
#best-ways {
    background-color: #F2F5F7;
    padding: 128px 0;
}

.best-ways-wrapper {
    max-width: 1280px;
    padding: 0 32px;
    margin: 0 auto;
}

.best-way-heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.best-way-heading p {
    text-align: center;
    color: var(--text-primary);
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: -0.25px;
    display: inline-block;
    position: relative;

}

.best-way-heading p::after {
    content: "";
    position: absolute;
    height: 2px;
    left: 0;
    width: 100%;
    bottom: 7px;
    background-color: var(--btn);
}

.best-way-heading h1 {
    color: var(--text-primary);
    text-align: center;
    font-size: 58px;
    font-style: normal;
    font-weight: 500;
    line-height: 64px;
    letter-spacing: -2px;
    margin-top: 24px;
}

.money-abroad-cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 32px;
    margin-top: 64px;
}

.abroad-card {
    max-width: 592px;
    padding: 48px 40px;
    background-color: #fff;
    border-radius: 32px;
}

.abroad-image {
    display: flex;
    align-items: center;
    gap: 24px;
}

.abroad-image h4 {
    color: var(--text-primary);
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: -1px;
}

.abroad-card p {
    color: #454745;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: -0.25px;
    margin-top: 12px;
    padding-left: 72px;
}

/* ============= Bank Level ============= */
#bank-level {
    background-color: var(--bg);
    padding: 128px 0;
}

.bank-wrapper {
    max-width: 1280px;
    padding: 0 32px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 96px;
}

.bank-level-content {
    max-width: 480px;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.bank-level {
    max-width: 480px;
    color: var(--btn);
    font-size: 58px;
    font-style: normal;
    font-weight: 500;
    line-height: 64px;
    letter-spacing: -2px;
}

.security {
    color: #FFF;
    font-size: 58px;
    font-style: normal;
    font-weight: 500;
    line-height: 64px;
    letter-spacing: -2px;
}

.protected {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 24px;
}

.protected h5 {
    color: var(--White, #FFF);
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: -1px;
}

.protected-para {
    color: var(--White, #FFF);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: -0.25px;
    margin-top: 12px;
    padding-left: 72px;
}

.Authenticated {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 24px;  
}

.Authenticated h5 {
    color: var(--White, #FFF);
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: -1px;
}

.Authenticated-para {
    color: var(--White, #FFF);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: -0.25px;
    margin-top: 12px;
    padding-left: 72px;
}

.Regulated {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 24px;  
}

.Regulated h5 {
    color: var(--White, #FFF);
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: -1px; 
}

.Regulated-para {
    color: var(--White, #FFF);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: -0.25px;
    margin-top: 12px;
    padding-left: 72px;
}

.security-image-wrapper {
    max-width: 640px;
    flex: 1;
}

.security-image-wrapper img {
    width: 100%;
    padding: 0 24px;
}

/* ============= Coverage ============= */
#coverage {
    padding: 128px 0px;
    background-color: #f2f5f7;
  }
  
  .new_coverage_wrapper {
    max-width: 1280px;
    margin: 0 auto;
  }
  
  /* Heading */
  .heading_container {
    max-width: 700px;
    padding: 0 32px;
  }
  
  .coverage_eyebrow {
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: -0.25px;
    display: inline-block;
    position: relative;
    margin-bottom: 24px;
  }
  
  .coverage_eyebrow::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    background: var(--btn);
    bottom: 0;
    left: 0;
  }
  
  .coverage_title {
    color: var(--bg);
    font-size: 58px;
    font-style: normal;
    font-weight: 500;
    line-height: 64px;
    letter-spacing: -2px;
    padding-bottom: 40px;
  }
  
  /* Pills */
  .all_pills {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    padding: 0 32px;
  }
  
  .pill {
    padding: 10px 20px;
    border-radius: 48px;
    border: 1px solid var(--bg);
    background: transparent;
    cursor: pointer;
    font-weight: 600;
    transition: 0.3s ease;
  }
  
  .pill:hover {
    background: var(--bg);
    color: #fff;
  }
  
  .pill.active {
    background: var(--btn);
    border: none;
  }

  .pill.active:hover{
    color: var(--text-primary);
  }

  
  /* Layout */
  .coverage_content {
    display: flex;
    justify-content: space-between;
    padding: 0 32px;
    gap: 32px;
    align-items: flex-start;
    margin-top: 64px;
  }
  
  /* Flags Section */
  .flag_section {
    flex: 1;
  }
  
  .all_flag {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-width: 480px;
    gap: 32px;
    max-height: 300px;
    overflow-y: auto;
  }
  
  .country {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: -0.25px;
  }
  
  .country img {
    width: 40px;
  }
  
  /* CTA */
  .country_cta {
    display: inline-flex;
    align-items: center;
    gap: 10px;
    margin-top: 48px;
    font-weight: 600;
    text-decoration: none;
    color: var(--bg);
    transition: 0.3s ease;
  }
  
  .country_cta:hover {
    color: var(--btn);
  }
  .cta_arrow {
    transition: transform 0.3s ease;
  }
  .country_cta:hover .cta_arrow {
    transform: translateX(5px);
  }
  /* Map */
  .map_container {
    flex: 1;
  }
  .map_container img {
    width: 100%;
    max-width: 700px;
  }


/* ============= Common Questions ============= */
#question {
    padding-bottom: 128px;
    padding-top: 128px;
    padding-left: 80px;
    padding-right: 80px;
  }
  .question-wrapper {
    max-width: 1280px;
    margin: 0px auto;
    padding: 0px 32px;
    display: flex;
    justify-content: space-between;
    gap: 96px;
  }
  .question-content-wrapper {
    max-width: 352px;
    flex: 1;
  }
  .question-para {
    color: var(--bg);
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: -0.25px;
    display: inline-block;
    position: relative;
  }
  .question-para::after {
    content: "";
    position: absolute;
    width: 100%;
    left: 0;
    height: 3px;
    bottom: 4px;
    background-color: var(--btn);
  }
  
  .question-title {
    color: var(--bg);
    font-size: 58px;
    font-style: normal;
    font-weight: 500;
    line-height: 64px;
    letter-spacing: -2px;
    padding-top: 24px;
  }
  
  .question-subtitle {
    color: #454745;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: -0.25px;
    padding-top: 24px;
  }
  
  .question-child-subtitle-wrapper {
    display: flex;
    align-items: center;
    gap: 8px;
    padding-top: 48px;
  }
  
  .question-child-subtitle-wrapper p {
    color: var(--bg);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.25px;
  }
  
  .question-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    max-width: 220px;
    gap: 8px;
    margin-top: 24px;
    gap: 10px;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 32px;
    padding-right: 24px;
    background-color: var(--btn);
    border-radius: 64px;
    border: 1px solid var(--btn);
    text-decoration: none;
    color: var(--bg);
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: -0.25px;
    margin-top: 24px;
    transition: 0.3s;
  }
  
  .question-btn:hover {
    background-color: var(--bg);
    color: #fff;
    border: 1px solid var(--bg);
    transform: translateY(-2px);
  }
  
  /* Accordion Wrapper */
  .question-accordion-wrapper {
    max-width: 704px;
    flex: 1;
  }
  
  /* faq */
  .faq {
    max-width: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
  }
  
  .accordion {
    background: #fff;
    border-radius: 12px;
    padding: 32px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
    border: 1px solid #e5ebe5;
  }
  
  /* hide checkbox */
  .accordion input {
    display: none;
  }
  
  /* header */
  .acc-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    color: var(--bg);
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: -0.5px;
  }
  /* arrow */
  .icon {
    width: 42px;
    height: 42px;
    background: var(--btn);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
  }
  
  .icon img {
    width: 18px;
    height: 18px;
    transition: 0.3s;
  }
  
  .accordion input:checked+.acc-header .icon img {
    transform: rotate(180deg);
  }
  /* content */
  .acc-content {
    max-height: 0;
    overflow: hidden;
    transition: 0.4s ease;
    color: #454745;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: -0.25px;
  }
  .acc-content p {
    margin-top: 12px;
  }
  
  .acc-content a {
    color: var(--bg);
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: -0.25px;
  }
  
  /* open state */
  .accordion input:checked~.acc-content {
    max-height: 200px;
    margin-top: 16px;
  }

  /* ============= Save Money ============= */
  #save-money {
    width: 100%;
    background-color: var(--bg);
    border-bottom-right-radius: 32px;
    border-bottom-left-radius: 32px;
    position: relative;
    z-index: 999;
    margin-bottom: -30px;
  }
  
  .save-money-wrapper {
    max-width: 1280px;
    padding: 96px 80px;
    margin: 0px auto;
    text-align: center;
  }
  
  .save-money-title {
    color: var(--btn);
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: -0.25px;
    display: inline-block;
    position: relative;
    text-align: center;
  }
  
  .save-money-title::after {
    content: "";
    position: absolute;
    width: 100%;
    left: 0;
    height: 3px;
    bottom: 4px;
    background-color: #00c805;
  }
  
  .save-money-subtitle {
    color: #fff;
    font-size: 58px;
    font-style: normal;
    font-weight: 500;
    line-height: 64px;
    letter-spacing: -2px;
    padding-top: 24px;
  }
  
  .save-money-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    max-width: 220px;
    gap: 8px;
    margin-top: 24px;
    gap: 10px;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 32px;
    padding-right: 24px;
    background-color: var(--btn);
    border: 1px solid var(--btn);
    border-radius: 64px;
    text-decoration: none;
    color: var(--bg);
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: -0.25px;
    margin-top: 40px;
    transition: 0.3s;
  }
  
  .save-money-btn:hover {
    background-color: transparent;
    color: var(--btn);
    border: 1px solid var(--btn);
    transform: translateY(-2px);
}
/* ============= Footer ============= */
    #fooder {
        padding: 128px 80px 64px;
        background: #F2F5F7;
      }
      
      .footer-content {
        max-width: 1280px;
        margin: 0 auto;
        padding: 0 32px;
      }
      
      /* TOP GRID */
      .footer-top {
        display: grid;
        grid-template-columns: 1.2fr 1fr 1fr 1fr 1.1fr;
        gap: 48px;
        align-items: start;
      }
      
      .footer-col h4,
      .footer-download h4 {
        font-size: 15px;
        font-weight: 600;
        color: var(--bg);
        margin-bottom: 24px;
      }
      
      .footer-col a {
        display: block;
        text-decoration: none;
        color: #454745;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.25px;
        padding: 16px 0px;
        width: fit-content;
      }
      
      .footer-col a:hover {
        color: var(--btn);
      }
      
      .with-badge {
        display: inline-flex;
        align-items: center;
        gap: 8px;
      }
      
      .badge {
        font-size: 12px;
        padding: 2px 8px;
        border-radius: 999px;
        background: var(--btn);
        color: var(--bg);
        font-weight: 500;
        line-height: 18px;
        letter-spacing: -0.15px;
      }
      
      /* STORE BUTTONS */
      .footer-download .store-btn {
        display: flex;
        align-items: center;
        gap: 12px;
        text-decoration: none;
        background: var(--bg);
        color: var(--btn);
        border-radius: 48px;
        padding: 10px 24px;
        margin-top: 16px;
        max-width: 180px;
      }
      
      .store-ico {
        width: 22px;
        height: 22px;
        object-fit: contain;
      }
      
      .store-btn small {
        display: block;
        font-size: 10px;
        font-weight: 600;
      }
      
      .store-btn strong {
        display: block;
        font-size: 14px;
        font-weight: 700;
        line-height: 1.1;
      }
      /* DIVIDER */
      .footer-line {
        border: none;
        border-top: 1px solid #e5ebe5;
        margin: 40px 0px;
      }
      /* BOTTOM BAR */
      .footer-bottom {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
      
      .footer-left {
        display: flex;
        align-items: center;
        gap: 12px;
        color: #454745;
        font-size: 14px;
      }
      
      .muted-link {
        color: #454745;
        text-decoration: none;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: -0.25px;
      }
      
      .muted-link:hover {
        color: #0b2b23;
      }
      
      .footer-social {
        display: flex;
        align-items: center;
        gap: 24px;
      }
      
      .social-circle {
        width: 48px;
        height: 48px;
        border-radius: 50%;
        border: 1px solid #002c15;
        display: grid;
        place-items: center;
        background: transparent;
        text-decoration: none;
      }
      
      .footer-right {
        display: flex;
        align-items: center;
        gap: 24px;
      }
      
      .lang-wrapper {
        position: relative;
        display: inline-block;
      }
      
      .lang-select {
        height: 48px;
        min-width: 203px;
        padding: 12px 24px;
        border-radius: 48px;
        border: 1px solid #002c15;
        background: #f2f5f7;
        color: var(--bg);
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 24px;
        letter-spacing: -0.25px;
        appearance: none;
      }
      
      .footer-arrow {
        position: absolute;
        width: 20px;
        height: 20px;
        right: 20px;
        top: 50%;
        transform: translateY(-50%);
      }
      
      .to-top {
        width: 46px;
        height: 46px;
        border-radius: 50%;
        background: var(--bg);
        display: grid;
        place-items: center;
        text-decoration: none;
      }

